<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Supplier Database</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	<!-- JavaScript -->
	<!-- Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
	<!-- Generate Javascript -->
	<script src="script.js"></script>
  	<script src="app.js"></script>
</head>
<body ng-controller="myController">
	<ul>
		<li class="menu"><a href="">Home</a></li>
		<li class="menu"><a href="">Supplier Survey</a></li>
		<li class="menu"><a href="">Supplier Database</a></li>
	</ul>
	
	<h1>Hello {{user.name}}</h1>
	<input type="text" ng-model="user.name" />

	<div class="input">
		<h2>Supplier Information</h2>
		<form name="supplierInputForm">
			<table>
				<tr>
					<td>Name:</td>
					<td><input type="text" name="supplierName" ng-model="newSupplier.name"></td>
				</tr>
				<tr>
					<td>Location:</td>
					<td><input type="text" name="location" ng-model="newSupplier.location"></td>
				</tr>
				<tr>
					<td>Industry: </td>
					<td><input type="text" name="industry" ng-model="newSupplier.industry"></td>
				</tr>
			</table>
		</form>
		<div>
			<button id="button" ng-click="add()">Add to Database</button>
			<button id="button" ng-click="save()">Save Database</button>

		</div>
	</div>
	<h2>List of Suppliers</h2>
	<table>
		<thead>
			<th>Supplier Name</th>
			<th>Supplier Location</th>
			<th>Supplier Industry</th>
		</thead>
		<tr ng-repeat="supplier in suppliers">
			<td>{{supplier.name}}</td>
			<td>{{supplier.location}}</td>
			<td>{{supplier.industry}}</td>
		</tr>
	</table>
</body>
</html>