body {
	font-family: 'Titillium Web', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#5781AE;
	color:white;
}

li {
    display:inline;
}

a {
    width: 100px;
    text-decoration: none;
}

.item {
	border-radius: 5px;
	background-color:#CD5806;
	margin-top: 10px;
	padding: 5px 5px 5px 5px;
}